<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parcial3_paredes_guerra_terrones_arango_duran">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.Lista_recetaActivity"></activity>
        <activity android:name=".Activities.RecetasGuardasActivity"></activity>
        <activity android:name=".Activities.Agregar_RecetasActivity"></activity>
        <activity android:name=".Activities.MenuActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.MainActivity">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>